//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.bg {
  background: black url('/images/background.jpeg') no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  position: relative;
  color: #fff !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 15px;
}

.bg h1 {
  font-family: "Great Vibes", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10em;
}

.bg h2 {
  font-family: "Great Vibes", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}
.navbar-header {
  font-family: "Great Vibes", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar {
  padding: 0 15px;
}

section {
  padding: 50px 0;
}

//facebook photo
ul.nav:nth-child(2) > li:nth-child(1) > img:nth-child(1) {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#user {
  margin: 65px 0;
  padding: 0 15px;

}

.btn-create {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: #007bff;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  cursor: pointer;
}

.btn-create:hover,
.btn-create:focus,
.btn-create:active,
.btn-create.active {
  color: #007bff;
  background: #ffffff;
  border: solid 2px #007bff;
}

.btn-outline {
  color: #ffffff;
  font-size: 20px;
  border: solid 2px #ffffff;
  background: #007bff;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  border-radius: 50%;
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
  text-align: center;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #007bff;
  background: #ffffff;
  border: solid 2px #007bff;
}



#galery {
  //background: #bc1c9f;
  width: 100%;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
  overflow: hidden;
  position: relative;
  color: white;
}

#galery img {
  display: block;
  width: 250px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  //transition: all 0.3s;
}

#galery img:hover {
  opacity: 0.7;
  //display: block;
  //width: 250px;
  //height: 300px;
  //border-radius: 50%;
  //-webkit-transform: scale(1.3);
  transform: scale(1);
}
///* Zoom In #1 */
//.hover01 figure img {
//  -webkit-transform: scale(1);
//  transform: scale(1);
//  -webkit-transition: .3s ease-in-out;
//  transition: .3s ease-in-out;
//}
//.hover01 figure:hover img {
//  -webkit-transform: scale(1.3);
//  transform: scale(1.3);
//}

.photos {
  margin: 40px 0;
}

.services {
  margin: 0 20px;
}

#team {
  background-color: #f8f9fa !important;
}

#team img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.team {
  margin: 20px 0;
}

.team-pic {
  margin: 0 auto;
}

.team-text {
  float: left;
  padding: 0 5px;
  margin: 0 0 10px 0;
  text-align: center;
  min-height: 250px;
}

.team-text h3 {
  color: #61407e;
  font-size: 20px;
  margin: 10px 0 0 0;
}

.team-text h4 {
  font-size: 14px;
  margin: 0;
}

.team-text p {
  font-size: 13px;

}

#brands div {
  margin: 0 1.2em;
}

#brands img {
  width: 200px;
  height: 70px;
  padding: 0 20px;
}

.brands {
  padding: 50px 0;
}

#contacts {
  background-color: #f8f9fa !important;
  padding-bottom: 0;
}

#contacts p {
  font-size: 20px;
  margin: 10px 0;
}

#contacts i {
  margin-top: 10px;
}

#form{
  min-height: 560px;
  margin: auto;
}

.form{
  margin-top: 100px;
}

.form-control {
  border-radius: 0px;
}


footer {
  padding: 25px 0;
  text-align: center;
  background: #2b2b2b url('/images/background.jpeg');
  color: white;
}

footer span.copyright {
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer a {
  color: #fed136;
}

footer a:hover {
  color: #fec503;
}

#login-modal .modal-dialog {
  width: 350px;
}

#login-modal input[type=text], input[type=password] {
  margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
  border: 1px solid #dadfe1;
  height: 30px;
  line-height: 28px;
  transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
  border: 1px solid #68c3a3;
  background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
  border: 1px solid #eb575b;
  background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
  width: 30px;
  float: left;
  line-height: 28px;
  text-align: center;
  background-color: #dadfe1;
  margin-right: 5px;
  transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
  background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
  background-color: #eb575b !important;
}

#img_logo {
  max-height: 100px;
  max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8;
}

.modal-content {
  background-color: #ececec;
  border: 1px solid #bdc3c7;
  border-radius: 0px;
  outline: 0;
}

.modal-header {
  min-height: 16.43px;
  padding: 15px 15px 15px 15px;
  border-bottom: 0px;
}

.modal-body {
  position: relative;
  padding: 5px 15px 5px 15px;
}

.modal-footer {
  padding: 15px 15px 15px 15px;
  text-align: left;
  border-top: 0px;
}

.checkbox {
  margin-bottom: 0px;
}

.btn {
  border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.btn-lg, .btn-group-lg>.btn {
  border-radius: 0px;
}

.btn-link {
  padding: 5px 10px 0px 0px;
  color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
  color: #2c3e50;
  text-decoration: none;
}

.glyphicon {
  top: 0px;
}



#map {
  width:100%;
  height:350px;
  color: black
}
