//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding: 0;

}

.navbar {
  padding: 0 15px;
}

.bg {
  background: url('/images/background.jpeg') no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  position: relative;
  color: #fff !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 15px;
}

//facebook photo
ul.nav:nth-child(2) > li:nth-child(1) > img:nth-child(1) {
  width: 50px;
  height: 50px;
}

#user {
  padding-top: 50px;
  margin-top: 50px;
}

.btn-create {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: #007bff;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  cursor: pointer;
}

.btn-create:hover,
.btn-create:focus,
.btn-create:active,
.btn-create.active {
  color: #007bff;
  background: #ffffff;
  border: solid 2px #007bff;
}

#form {
  padding-top: 150px;
  padding-bottom: 150px;
}

.btn-outline {
  color: #ffffff;
  font-size: 20px;
  border: solid 2px #ffffff;
  background: #007bff;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #007bff;
  background: #ffffff;
  border: solid 2px #007bff;
}

#instagram {
  padding: 100px 100px;
  background: #ff7ceb;
  width: 100%;
  height: 400px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.workers img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.team {
  min-height: 250px;
  background: rgba(200, 132, 255, 0.83);
  padding:20px;
}

.team-pic {
  margin: 0 auto;
}

.team-text {
  float: left;
  padding: 0 5px;
  margin: 0 0 10px 0 ;
  text-align: center;
  min-height: 250px;
}

.team-text h3 {
  color: #61407e;
  font-size: 20px;
  margin: 10px 0 0 0;
}

.team-text h4 {
  font-size: 14px;
  margin: 0;
}

.team-text p {
  font-size: 13px;

}
