//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Large desktop */
@media (min-width: 1200px) {
  body    {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-left: 0;

    //color: green;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
  body    {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-left: 0;
    //color: purple;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body    {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-left: 0;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body    {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-left: 0;
  }
}

.lt { display:none; } /* hide all elements with a language class */
.lt:lang(lt) { display:block; } /* show those elements that match their language class */
//General
body {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
  margin-bottom: 30px;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.bg {
  background: url('/images/background.jpeg') no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  position: relative;
  color: #fff !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 15px;
}

.bg h1 {
  font-family: "Great Vibes", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10em;
  // non-related styling:
  text-shadow: 0 2px 0 rgba(0, 0, 0, 1);
}

.bg h2 {
  font-family: "Great Vibes", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}

section {
  padding: 50px 0;
}

.btn {
  border: none;
}

.btn-create {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: #007bff;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  cursor: pointer;
}

.btn-create:hover,
.btn-create:focus,
.btn-create:active,
.btn-create.active {
  color: #007bff;
  background: #ffffff;
  border: solid 2px #007bff;
}

.btn-outline {
  color: #ffffff;
  font-size: 20px;
  border: solid 2px #ffffff;
  background: #007bff;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #007bff;
  background: #ffffff;
  border: solid 2px #007bff;
}

//Scroll Top Button
#scrollTop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 25px;
  padding: 0 !important;
  opacity: 0.8;
  display: none;
  z-index: 1;
}

#scrollTop:hover {
  opacity: 1;
  color: #007bff;
}

//Header
.navbar {
  padding: 0 15px;
}

.navbar-header {
  font-family: "Great Vibes", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-size: 30px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 15px 10px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #090909;
  outline: none;
}

//facebook photo
ul.nav:nth-child(2) > li:nth-child(1) > img:nth-child(1) {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

//user interface
#user {
  margin: 65px 0;
  padding: 0 15px;
}

#user img {
  border-radius: 50%;
}

//Photo galery
#galery {
  position: relative;
  width: 100%;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
  color: white;
  overflow: hidden;
}

#galery img {
  max-width: 100%;
  width: 250px;
  height: 300px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  object-fit: cover;
  margin-bottom: 20px;
}

#galery h2 {
  margin-bottom: 0;
}

#galery img:hover, #galery img:focus {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0 0 10px #007bff;
}

.photos {
  margin: 40px 0;
}

// Services
#services {
  background-color: #f8f9fa !important;
}

#services h2 {
  margin-bottom: 50px;
}

.services {
  margin: 0 20px;
}

#services h4 {
  //height: 70px;
  background: #444;
  color: #fff;
  font-size: 22px;
  //padding: 10px 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 0;
  text-transform: uppercase;
  position: relative;
}

.services .content {
  background: #f5f5f5;
  padding: 30px;
  height: 220px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 0;
  text-transform: uppercase;
  position: relative;
}

.service {
  padding-left: 0;
}

//Workers
.team {
  margin: 20px 0;
  color: white;
}

#team {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
}

.team-member {
  margin: 50px 0;
  text-align: center;
  color: white;
}

.team-member img {
  border-radius: 50%;
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

#team .col-lg-12, .col-md-12 {
  width: 100%;
  padding: 0;
}

#team h2 {
  color: white;
}

#team img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.team-pic {
  margin: 0 auto;
}

.team-text {
  float: left;
  padding: 0 5px;
  margin: 0 0 10px 0;
  text-align: center;
  min-height: 250px;
}

.team-text h3 {
  color: #61407e;
  font-size: 20px;
  margin: 10px 0 0 0;
}

.team-text h4 {
  font-size: 14px;
  margin: 0;
}

.team-text p {
  font-size: 13px;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
  text-align: center;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

//Brands
#brands {
  background-color: #f8f9fa !important;
}

.brands {
  padding: 50px 0;
  margin-left: 80px;
}

#brands img {
  width: 200px;
  height: 100px;
  padding: 0 20px;
  background: white;
  object-fit: scale-down;
  margin: 0 10px;
}

//Contacts
#contacts {
  //background-color: #f8f9fa !important;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
  color: white;
  padding-bottom: 0;
}

#contacts p {
  font-size: 20px;
  margin: 10px 0;
}

#contacts i {
  margin-top: 10px;
}

#map {
  width: 100%;
  height: 350px;
  color: black
}

#form{
  padding-top: 200px;
  min-height: 560px;
}
//Footer
footer {
  padding: 25px 0;
  text-align: center;
  background: #2b2b2b url('/images/background.jpeg');
  color: white;
  background-size: cover;
  font-size: 20px;
}

footer span.copyright {
  line-height: 40px;
  text-transform: none;
  font-family: "Great Vibes", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer a {
  color: #fed136;
}

footer a:hover {
  color: #fec503;
}

//calendar
#external-events {
  float: left;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 10px 0;
  cursor: pointer;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}
#calendar-holder {
  float: right;
  //width: 900px;
}


.form-group input[type="checkbox"] {
  display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}
//#welcomeDiv {
//  position: fixed;
//  bottom: 0;
//  z-index: 10;
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-pack: center;
//  -ms-flex-pack: center;
//  justify-content: center;
//  width: 100%;
//}
