{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-weight: 100;
            font-family: 'Lato';
        }
        .title {
            margin: 20px auto;
            text-align: center;
            font-size: 70px;
            font-weight: 700;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="title">Here would be NAIL STUDIO website</div>

    <div class="row">
        <div class="col-lg-4 col-md-offset-4">
            <a href="{{ path('app_facebook_connect') }} "class="btn btn-block btn-social btn-primary btn-facebook">
                <span class="fa fa-facebook"></span> Sign in with facebook
            </a>
        </div>
    </div>

{% endblock %}
